<div class="direction_page">


<p>Elsewhere is simple travel app that quickly helps you to discover much needed travel and country information. Whether you a big adventurer or a big dreamer, Elsewhere will bring the world's countries to your fingertips!
<br><br><strong>How to Use:</strong>
  From the homepage, just click on a country or use the search bar to get info including fun facts, official language, helpful phrases, currency, cuisine, political stability, and health warnings.</p>


</div>