<div id="directions"><p>Insert directions for app use here!</p></div>

<div class="search">
<%=form_tag "/search", method: "get" do %>
<%=label_tag :search, "" %></br>
<%=text_field_tag :search%></br>
<%=submit_tag "SEARCH", id: 'searchbutton' %>
<%end%>
</div>

<div class="map">



<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />


<div id="wrapper">
  <div id="container"></div>
  <div id="info">
    <span class="f32"><span id="flag"></span></span>
    <h2></h2>
    <div class="subheader"></div>
    <div id="country-chart"></div>
  </div>
</div>

</div>
