header {
  background-color: #FFEFD5;
  height: 8%;
  width: 100%;
  font-family: fantasy;
}

#title {
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  border: 3px black solid;
}

header p {
  display: inline-block;
  font-style: italic;
  font-size: 18px;
}
