*  { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header {
  background-color: #FFEFD5;
  height: 8%;
  width: 100%;
  font-family: pt serif;
  border: 2px #8B4513 solid;
}

#title {
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  border-right: 3px #8B4513 solid;
}

header p {
  display: inline-block;
  font-style: italic;
  font-size: 18px;
}

#container {
  height: 500px; 
  min-width: 310px; 
  max-width: 800px; 
  margin: 0 auto; 
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
.search {
  position: relative;
  left: 35%;
  top: 50px;
  border: 2px solid #8B4513;
  border-radius: 5px;
  width: 30%;
}
.map {
  position: relative;
  top: 100px;
}

#directions {
  text-align: center;
  font-family: pt serif;
  font-size: 25px;
}

#form {
  float: center;
}

div.country_images {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  border: 2px solid black;
}