*  { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  background-color: #024E76;
}
.results {
  background-color: white;
  padding: 40px;
  margin: 25px;
}

#searchbutton {
margin-top: 14px;
margin-left: 5px;
width:65px;
float: right;
background-color:#024E76;;
color:#fff;
font-family: 'Quicksand', sans-serif;
height:20px;
border: 1px solid black;
}
input.searchbutton:hover {
background:#fff;
color:#09C;
}

g .highcharts-tooltip text {
  background-color: black;
}

form input[type=text] {
  border: 2px solid white;
  border-radius: 4px;
  background-color: #218777;
  color: black;
}

form input[type=submit] {
  color: black;
  background-color: #218777;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 3px;

}

header {
  background-color: #218777;
  height: auto;
  width: 100%;
  font-family: pt serif;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Quicksand',sans-serif;
  font-size: 40px;
  color: white;
  text-decoration: none;
  text-shadow: 0 4px 0 rgba(0,0,0,.15);
  padding: 10px;
  border:2px black solid;
}

header a {
  text-decoration: none;
  color: white;
}

#title {
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  border-right: 3px #8B4513 solid;
}

header p {
  font-style: italic;
  font-size: 18px;
  margin: 0px;
}

#container {
  height: 500px; 
  min-width: 310px; 
  max-width: 800px; 
  margin: 0 auto; 
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
.search {

  position: absolute;
  right: 10%;
  top: 5px;
  border-radius: 1px;
  text-align: center;
  font-family: 'Quicksand';
  color: white;
  margin: 10px;
}

input#search {
  width: 250px;
  height: 30px;
  font-family: 'Quicksand';
  text-align: center;
  font-size: 26px;
  background-color: white;
  border: 2px black solid;
}

.map {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: -1;
  width: 500px;
  height: auto;
}

#directions {
  text-align: center;
  font-family: pt serif;
  font-size: 25px;
}


div.country_images {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  border: 2px solid black;
}

img#main_image {
  height: 364px;
  width: auto;
}

#results_title {
  font-family: pt serif;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}

div.card {
  font-family: 'Quicksand', sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  padding: 10px;
  width: 300px;
  float: left;
  height: 100px;
  background-color: white;
}

.card h2 {
  margin: 0px;
  padding: 0px;
}

.fun_fact {
  font-family: 'Quicksand';
  margin-top: 30px;

}